body {
  height: 100vh;
  width: 100vh;
  overflow: hidden;
}

#imageContainer {
  position: relative;
}

#footballImage {
  width: 100%;
}

#curveCanvas {
  position: absolute;
  top: 0;
  left: 0;
}
